*{
margin:0%;
padding:0%;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
html,body{
width: 100%;
height: 100%;
}
body{
    color: #111;
    margin-left: 550px;
    margin-top: 200px;
}
h2{
    width: 200px;
    font-size: 50px;
    padding-left: 85px;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid black;
}

button{
    background-color: crimson;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
}