*{
margin:0%;
padding:0%;
box-sizing: border-box;
}

html,body{
width: 100%;
height: 100%;
background-color: black;
}

html{
    font-family:monospace;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color: rgb(41, 181, 41);
    font-size: 2rem;
}