*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}



:root{
  --x:400px;
  --y:400px;
}


html{
  overflow: hidden;
}

main{
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 4px;
  position: relative;
}



.section{
  height: 100%;
  width: calc(100% / 4);
  
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}



.box{
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(120px at var(--x) var(--y),rgba(155, 255, 255, 0) 0%,rgba(0, 0, 0, 0.959));
}